---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="no-padding" id="projects">
      <div class="container-fluid">
          <div class="row no-gutter">
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Category
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Category
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Category
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Category
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Category
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Category
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </section>


  <!-- Pager -->
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Projects &rarr;</a>
  </div>
